<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team.description %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= team.project_id %>
  </p>

</div>
