<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to FYPMS</h1>
  <p class="lead">A Final Year Project Management System</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>About FYPMS</h2>
      <p class="text-justify">
        FYPMS is a web-based system that helps students and faculty members manage the final year projects.
        It provides features such as project creation, task management, team collaboration, faculty supervision, project submission, project evaluation, dashboard, notifications, and reporting.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Get Started</h2>
      <p class="text-justify">
        To get started, create an account or log in if you already have one.
        Once you are logged in, you can create projects, add tasks, assign tasks to team members, collaborate with your team, and submit your completed projects for evaluation.
        Faculty members can also view the progress of projects and provide feedback and guidance to students.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign Up</a>
        <a class="btn btn-secondary btn-lg" href="/users/sign_in" role="button">Log In</a>
      </p>
    </div>
  </div>
</div>
