<div id="<%= dom_id feedback %>">
  <p>
    <strong>Content:</strong>
    <%= feedback.content %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= feedback.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= feedback.user_id %>
  </p>

</div>
