<div id="<%= dom_id assignee %>">
  <p>
    <strong>Name:</strong>
    <%= assignee.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= assignee.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= assignee.password_digest %>
  </p>

</div>
